/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

.hlavicka{
    background-color: url(obrazky/mech.jpg);
    background-size: cover;


}
h1{
    font-family: Raleway;
}
h2{
    font-family: ojuju;
}
#mech {
    width: 100%;
    height: 30%;
    margin: 0;
}
.titulek, .omne, 

.body {
    background-color: #e9eba0;
    color: black;
    font-family: Ubuntu;
}

.menu a{
    text-decoration: none;
    color: #957964;
    padding: 30px 70px 50px;
    border: 1px solid black;
    margin:50px 50px 50px 50px;
    font-family: Ojuju;
    
    
}

.menu{
    width: 100%;
    font-size: 40px;
    display:inline-block;
    text-align: center;
    background-color: #603140;
    height: 100px;
    font-weight: bold;
    
   
}

.menu a:hover{
    background-color:#cad178;
}